:root {
    --font-body: Arial, Helvetica, sans-serif;
    --font-headline: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* colors */
    --primary-color: #202c39;
    --secondary-color: #283845;
    --tertiary-color: #e3e7d3;
    --light-grey: #bdc2bf;
    --dark-grey: #4c5b52;
    --accent-color: #305e43;
  
    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--dark-grey);
  }
  
  img {
    max-width: 100%;
    padding: 30px;
    display: block;
    margin: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title-heading,
  h2 {
    text-align: center;
  }
  
  .intro-paragraph {
    text-align:justify;
    padding: 0 25px;
  }
  
  .recipe-card h4,
  .category-group h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  
  footer {
    text-align: justify;
    padding: 16px;
  }
  

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav a {
  font-family: var(--font-body);
  font-size: 1em;
  color: darkblue;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--accent-color);
}

  
  .counter-footer {
    display: flex;
    gap: 8px;
  }
  
  .counter-button {
    width: 64px;
    height: 32px;
    font-size: 24px;
  }
  
  .counter-label {
    display: block;
    font-size: 32px;
    background: #f7f7f7;
    width: 136px;
    padding: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
    text-align: center;
  }
